- last_message = chatroom.msgs.last
.chatroom
  .topic= link_to "#{chatroom.topic.titleize}", chatroom
  - unless last_message.nil?
    .last_message
      %em last message sent by #{last_message.user.display_name} #{distance_of_time_in_words last_message.created_at_in_local, Time.now} ago
      %p #{last_message}
  .users
    with:
    - chatroom.users.each do |u|
      = u.email

