- last_message = chatroom.last_message
.chatroom.panel.pull-left.panel-primary
  .panel-heading
    .panel-title.topic= link_to "#{chatroom.topic.titleize}", chatroom
  = render "msgs/last_message", last_message: last_message if last_message
  
  .users
    with: 
    %ul
      - chatroom.users.each do |u|
        %li= u.email

  .panel-footer
    = link_to "Enter", chatroom, class: "pull-right btn btn-primary"
    .clear