#chatroom
  %p#notice= notice
  = link_to 'Back', @chatroom

  %p
    %strong Topic
    %span= @chatroom.topic

  %div{style: "margin-bottom: 20px"}
    %strong Members
    = render @chatroom.users

  - if @chatroom.users.count > 2
    :css
      #messages-list .other .who { display: inline }
  #chatroom-id{:style => "display:none"}= @chatroom.id
  #last-msg-id{:style => "display:none"}= (not @chatroom.msgs.empty?)? @chatroom.msgs.last.id  : 0
  #current-user{:style => "display:none"}= current_user.email

  %p Messages:
  #messages-list
    = render @msgs

  :javascript
    $(document).ready(function() {
      $(".hidden").show();
    });

