#chatroom
  %p#notice= notice
  = link_to 'Back', @chatroom

  %p
    %strong Topic
    %span= @chatroom.topic

  %div{style: "margin-bottom: 20px"}
    %strong Members
    = render @chatroom.users

  %div{style: "margin-bottom: 20px"}
    %strong Delete
    I want to
    = link_to "delete", @chatroom, confirm: "You will lose everything in this chatroom. Are you sure?", method: :delete
    this chatroom


  - if @chatroom.users.count > 2
    :css
      #messages-list .other .who { display: inline }
  #current-user{:style => "display:none"}= current_user.email

  %p Messages:
  #messages-list
    = render @msgs

  :javascript
    $(document).ready(function() {
      $(".hidden").show();
    });

