<h1>Your chatrooms</h1>

<table>
  <tr>
    <th>Topic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chatrooms.each do |chatroom| %>
  <tr>
    <td><%= chatroom.topic %></td>
    <td><%= link_to 'Show', chatroom %></td>
    <% if current_user.chatrooms.include? chatroom %>
      <td><%= link_to 'Edit', edit_chatroom_path(chatroom) %></td>
      <td><%= link_to 'Destroy', chatroom, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chatroom', new_user_chatroom_path(current_user) %>

