#chatroom
  %p#notice= notice
  %p= link_to '< Back to chatrooms list', chatrooms_path


  %div{style: "margin-bottom: 20px"}
    %strong Topic
    %span= @chatroom.topic
    %div
      = link_to 'Change topic', (edit_chatroom_path(@chatroom) if current_user.chatrooms.include? @chatroom), id: "change-topic"
      = render 'form'

  %div{style: "margin-bottom: 20px"}
    %strong Members
    = render @chatroom.users
    %div
      = link_to 'Invite members', "#", id: "invite"
      = form_for [@chatroom, @chatroom.users.new] do |f|
        = f.submit "Invite"
        = f.text_field :email

  - if @chatroom.users.count > 2
    :css
      #messages-list .other .who { display: inline }
  #chatroom-id{:style => "display:none"}= @chatroom.id
  #last-msg-id{:style => "display:none"}= (not @chatroom.msgs.empty?)? @chatroom.msgs.last.id  : 0
  #current-user{:style => "display:none"}= current_user.email

  = form_for [@chatroom,Msg.new] do |f|
    = f.text_area :message, :rows => 1, :tabindex => 1
    = f.submit "Send", :id => "send-message"

  %p Latest 20 Messages:
  #messages-list
    = render @msgs

  = link_to "Full message history", full_chatroom_path(@chatroom)

  :javascript
    $(document).ready(function() {
      $.timeago.settings.allowFuture = true;
      $("abbr.timeago").timeago();
      $("#change-topic").siblings("form").hide();
      $("#change-topic").click(function(e){
        e.preventDefault();
        $(this).siblings("form").slideToggle();
        return false;
      });

      $("#invite").siblings("form").hide();
      $("#invite").click(function(e){
        e.preventDefault();
        $(this).siblings("form").slideToggle();
        return false;
      });
    });

