#chatroom
  %p#notice= notice
  = link_to 'Edit', edit_chatroom_path(@chatroom) if current_user.chatrooms.include? @chatroom
  = link_to 'Back', chatrooms_path

  %p
    %b Topic
    %span= @chatroom.topic

  %p
    %b Members
    = render @chatroom.users

    = form_for [@chatroom, @chatroom.users.new] do |f|
      = f.text_field :email
      = f.submit "Invite"
    - if @chatroom.users.count > 2
      :css
        #messages-list .other .who { display: block }
  #chatroom-id{:style => "display:none"}= @chatroom.id
  #last-msg-id{:style => "display:none"}= (not @chatroom.msgs.empty?)? @chatroom.msgs.last.id  : 0
  #current-user{:style => "display:none"}= current_user.email

  = form_for [@chatroom,Msg.new] do |f|
    = f.text_area :message, :rows => 1, :tabindex => 1
    = f.submit "Send", :id => "send-message"

  %p Messages:
  #messages-list
    = render @chatroom.msgs.reverse

  :javascript
    $(document).ready(function() {
      $.timeago.settings.allowFuture = true;
      $("abbr.timeago").timeago();
    });

