<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_chatroom_path(@chatroom) if current_user.chatrooms.include? @chatroom %> |
<%= link_to 'Back', chatrooms_path %>

<p>
  <b>Topic:</b>
  <%= @chatroom.topic %>
</p>

<p>
  <b>Members:</b>
  <% @chatroom.users.each do |u| %>
    <%= u.email %>,
  <% end %>
</p>

<p id="chatroom-id" style="display:none"><%= @chatroom.id %></p>
<p id="last-msg-id" style="display:none"><%= (not @chatroom.msgs.empty?)? @chatroom.msgs.last.id  : 0 %></p>

<%= form_for [@chatroom,Msg.new] do |f| %>
  <%= f.text_area :message, :rows => 1, :tabindex => 1 %>
  <%= f.submit "Send", :id => "send-message" %>
<% end %>

<p>Messages:</p>
<div id="messages-list">
<% @chatroom.msgs.reverse.each do |msg| %>
<dl>
  <dt><%= msg.message %></dt>
  <dd><%= msg.user.email.split("@").first %> <span class="timestamp"><%= msg.created_at_in_local %></span></dd>
</dl>
<% end %>
</div>

<%= form_for [@chatroom, @chatroom.users.new] do |f| %>
  <%= f.text_field :email %>
  <%= f.submit "Invite" %>
<% end %>

