#chatroom-id.none= @chatroom.id
#last-msg-id.none= (not @chatroom.msgs.empty?)? @chatroom.msgs.last.id  : 0
#current-user.none= current_user.email

.actions.grid_16{style:"text-align: center"}
  = link_to '< Back to chatrooms list', chatrooms_path, class: "button-like"
  = link_to 'Invite members', "#", id: "invite", class: "button-like"
  = link_to 'Change topic', (edit_chatroom_path(@chatroom) if current_user.chatrooms.include? @chatroom), id: "change-topic", class: "button-like"
  = link_to 'Allow Notifications', "#", id: "notification", class: "button-like", style: "display: none"
  = link_to 'Temporarily disable notifications', "#", id: "toggle-notif", class: "button-like", style: "display: none"

#chatroom
  %p#notice= notice

  %div{style: "margin-bottom: 20px"}
    %strong Topic
    %span= @chatroom.topic
    #change-topic-form
      = render 'form'

  %div{style: "margin-bottom: 20px"}
    %strong Members
    = render @chatroom.users
    #invite-form
      = form_for [@chatroom, @chatroom.users.new] do |f|
        = f.submit "Invite"
        = f.text_field :email

  - if @chatroom.users.count > 2
    :css
      #messages-list .other .who { display: inline }

  = form_for [@chatroom,Msg.new] do |f|
    = f.text_area :message, :rows => 1, :tabindex => 1
    = f.submit "Send", :id => "send-message"

  %p Latest 20 Messages:
  #messages-list
    = render @msgs

  = link_to "Full message history", full_chatroom_path(@chatroom)

:javascript
  $(document).ready(function() {
    $.timeago.settings.allowFuture = true;
    $("abbr.timeago").timeago();
    $("#change-topic-form").hide();
    $("#change-topic").click(function(e){
      e.preventDefault();
      $("#change-topic-form").slideToggle();
      return false;
    });

    $("#invite-form").hide();
    $("#invite").click(function(e){
      e.preventDefault();
      $("#invite-form").slideToggle();
      return false;
    });
  });

