<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_chatroom_path(@chatroom) if current_user.chatrooms.include? @chatroom %> |
<%= link_to 'Back', chatrooms_path %>

<p>
  <b>Topic:</b>
  <%= @chatroom.topic %>
</p>

<p>Messages:</p>
<dl>
<% @chatroom.msgs.each do |msg| %>
  <dt>&lt;<%= msg.created_at %>&gt;<%= msg.user.email %></dt>
  <dd><%= msg.message %></dd>
<% end %>
</dl>

<%= form_for [@chatroom,@chatroom.msgs.build] do |f| %>
  <%= f.text_area :message %>
  <%= f.submit %>
<% end %>

