%div{class: "#{'mine' if msg.user == current_user} #{'other' unless msg.user == current_user}"}
  %dl.msg
    %dt.what
      %span.who= (msg.user.display_name.blank? ? msg.user.email.split("@").first : msg.user.display_name ) + ":"
      = msg.message
    %dd.when
      %abbr.timeago{:title => msg.created_at_in_iso}= msg.created_at_in_local
      .hidden{style: "display: none"} #{distance_of_time_in_words msg.created_at, Time.now} ago

